<div class="card-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text"  name="title" id="title" placeholder="Enter title"
                    class="form-control <%= errors['title'] ? 'is-invalid' : '' %>"
                    value="<%= model['title'] ? model['title'] : '' %>">
                <%- errors['title'] ? `<span class="invalid-feedback">${errors['title']['msg']}</span>`: ''%>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="question_type_id">Quiz Type</label>
                <select name="question_type_id" id="question_type_id" class="form-control">
                    <% questionTypes.forEach((type) => { %>
                        <option value="<%= type.id %>" <%= type.id == questionTypeId ? `selected`: ''%>>
                            <%= type.title %>
                        </option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Text</label>
                <textarea name="text" class="form-control" rows="3" placeholder="Text"><%= model['text'] ? model['text'] : '' %></textarea>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/questions/validation.js"></script>